input{
  border-radius:20px;
  padding:5px;
  border-color:red;
  background-color:rgba(0,0,255,0.1)
}
button{
  border-radius:50px;
  width:70px;
}
.login{
  background-color:beige;
  background-size:cover;
  background-position:center;
}
h1{
  margin-top:150px;
}
body{
  background-size:cover;
}
button{
  background-color: blue;
  border-radius:20px;
  width:46%;
  height:30px;
  color:white;
}
button:hover{
  background-color:rgb(112, 90, 170);
}